<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
	    <objectContribution 
	    	objectClass="org.eclipse.jdt.core.IJavaProject"
	        id="AnamolyDetector.contribution2">
      	<action label="Detect Framework Reuse Bugs"
              tooltip="Detect Framework Reuse Bugs"
              enablesFor="1"
              class="anamolydetector.popup.actions.AnamolyDetector"
              id="AnamolyDetector.newAction1">
      </action>
    </objectContribution>       
   </extension>


</plugin>
