<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Tansaction"
            id="rpt.ncsu.transaction">
      </category>
      <view
            allowMultiple="true"
            category="rpt.ncsu.transaction"
            class="rpt.ncsu.transaction.views.TransactionView"
            icon="icons/myIcon.gif"
            id="rpt.ncsu.transaction.views.TransactionView"
            name="Tansactions"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            category="rpt.ncsu.transaction"
            class="rpt.ncsu.transaction.MyConsole"
            icon="icons/myConsole.jpg"
            id="rpt.ncsu.transaction.myConsole"
            name="Transaction Console"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="rpt.ncsu.transaction.wizard"
            name="Transactions">
      </category>
      <wizard
            category="rpt.ncsu.transaction.wizard"
            class="rpt.ncsu.transaction.ImportWizard"
            icon="icons/sample.gif"
            id="rpt.ncsu.transaction.import"
            name="Trace File">
      </wizard>
   </extension>

</plugin>
