<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
	    <objectContribution objectClass="org.eclipse.jdt.core.IJavaProject"
                        id="ContributionPackageProject3">
      	<action label="XWeb"
              tooltip="XWeb"
              class="apiusagemetrics.actions.APIUsageActions"
              id="ContributionPackageProjectAction3">
      </action>
    </objectContribution>       
   </extension>

</plugin>
