<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Pex.Framework" publicKeyToken="76A274DB078248C8" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-0.6.30821.1" newVersion="0.6.30821.1"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
